body {
    background: black;
}

#container {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#canvas1 {
    position:relative;
    border: 5px solid white;
}

img {
    display:none;
}

p {
    position:relative;
    text-align:center;
    
    color: white;
    font-family: silkscreen;
    font-size: 40px;
}